Salut et bienvenue chez nous !
==========================================================

Tu t'es inscrit sur TrouveTonAsso en utilisant l'e-mail suivant : <%= @user.email %>.

N'hésite pas à explorer notre site en cliquant sur le bouton ci-dessous :
    
<a href="<%= @url %>">TrouveTonAsso</a>

Merci encore de rejoindre notre communauté engagée !

L'équipe TrouveTonAsso</p>