<% content_for :head do %>
  <%= stylesheet_link_tag 'organisation.dashboard', media: 'all' %>
<% end %>

  <div class="content" style= "width: 600px;">
    <!-- Cover photo de l'organisation -->
    <br>
    <% if @organisation.cover_photo.attached? %>
      <div class="cover-photo">
        <%= image_tag @organisation.cover_photo, class: "rounded-corner", alt: "Photo de couverture de l'association #{@organisation.name}", style: "width: 100%; height: auto;" %>
      </div>
    <% end %>

    <div class="title">
      <% if @organisation %>
        <h1 >Bienvenue,</h1>
        <%= @organisation.name %>
      <% else %>
        <p>Association non trouvée</p>
      <% end %>
    </div>

    <div class="questions-container mb-5" style="margin-top: 20px;">
      <h3>Vos questions en attente</h3>
      <% if !@questions.empty? %>
        <% @questions.each do |faq| %>
          <!-- ... existing code ... -->
        <% end %>
      <% else %>
        <p>Aucune question en attente</p>
      <% end %>
    </div>

    <div class="event-buttons text-center" style="margin-top: 20px;">
      <!-- Ajout d'une div pour les boutons -->
      <div class="button-group" style="text-align: center;">
        <%= link_to "Voir les événements", organisation_events_path(@organisation), class: "btn btn-secondary", style: "font-size: 16px; padding: 5px 10px; margin-left: 10px; margin-right: 20px; margin-bottom: 10px; width: 200px;" %>
        <a href="/events/new" class="btn btn-secondary" style="font-size: 16px; padding: 5px 10px; margin-left: 10px; margin-right: 20px; margin-bottom: 10px; width: 200px;">Créer un événement</a>
      </div>
    </div>
  </div>
