<!-- associations/show.html.erb -->
<% if @association %>
  <h1>Détails de l'association</h1>
  <p>Nom : <%= @association.name %></p>
  <p>Description : <%= @association.description %></p>
  <p>Ville : <%= @association.city %></p>
  <p>Site Web : <%= @association.website %></p>
  <!-- Ajoutez d'autres détails si nécessaire -->
<% else %>
  <p>Association non trouvée</p>
<% end %>



