<footer class="footer">
    <div class="container">
        <div class="site-info">
            <%= render "shared/logo" %>
            <p>Trouve ton asso, association de mise en relation d'associations à son public.</p>
            <p>55 rue du Faubourg saint-Honoré, <br> 75008 Paris</p>
            <a href="mailto:contact@trouvetonasso.fr">contact@trouvetonasso.fr</a>
        </div>

        <div class="footer-nav">
            <div class="nav-section">
                <span class="section-title">Catégorie</span>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="nav-section">
                <span class="section-title">Catégorie</span>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="nav-section">
                <span class="section-title">Catégorie</span>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copy">
            <p>Copyright © 2023 - Tous droits réservés</p>
        
            <%= link_to "Mentions légales", mentionslegales_path, class: "mx-2" %> |
            <%= link_to "CGU", cgu_path, class: "mx-2" %> |
            <%= link_to "Cookies", cookies_path , class: "mx-2" %>
          </div>
        </div>
        
        </div>
    </div>
</footer>