<% content_for :title, "Liste des événements" %>
<% content_for :meta_description, "Retrouvez ici la liste de tous les événements de #{@organisation.name}" %>

<div class="event card">
  <h1 class="card-title"><strong><%= @organisation.name %></strong></h1>
  <% if @events.any? %>
    <div class="container">
      <% @events.each do |event| %>
        <div class="card">
          <% if event.cover_photo.attached? %>
            <%= image_tag url_for(event.cover_photo), class: "card-img-top img-fluid rounded-image" %>
          <% else %>
            <p class="card-img-top">Aucune photo de couverture disponible</p>
          <% end %>
          <div class="card-body">
            <h2 class="card-title"><%= event.name %></h2>
            <%= link_to "Voir plus", event_path(event), class: "btn event-btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Aucun événement trouvé pour cette organisation.</p>
  <% end %>
</div>
