<div style="text-align: center;">
  <h1>À Propos de Trouve Ton Asso</h1>

  <section>
    <h2>Notre Mission</h2>
    <p>
      Trouve Ton Asso a pour mission de faciliter la connexion entre les donateurs généreux et les associations caritatives qui œuvrent pour des causes importantes. Nous croyons en la puissance des dons pour apporter un changement positif dans le monde, et notre plateforme vise à rendre le processus de don aussi simple et transparent que possible.
    </p>
  </section>

  <section>
    <h2>Comment ça Marche</h2>
    <p>
      Notre plateforme offre une interface conviviale qui permet aux utilisateurs de découvrir une variété d'associations œuvrant dans divers domaines. Vous pouvez explorer les profils des associations, en apprendre davantage sur leurs missions et besoins, puis choisir celle qui résonne le plus avec vos valeurs.
    </p>
    <p>
      Une fois que vous avez trouvé une association qui vous inspire, vous pouvez effectuer un don directement à partir de notre site. Nous simplifions le processus de don pour que vous puissiez contribuer rapidement et en toute sécurité.
    </p>
  </section>
</div>