<div style="text-align: center;">
    <h1>Conditions Générales d'Utilisation</h1>

    <section>
    <p>Merci de lire attentivement les présentes conditions générales d'utilisation avant d'utiliser le site Trouve Ton Asso. En accédant et en utilisant ce site, vous acceptez ces conditions dans leur intégralité. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le site.</p>

    <h2>1. Utilisation du Site</h2>
    <p>Vous acceptez de n'utiliser le site que dans le respect des lois applicables et des présentes conditions générales.</p>

    <h2>2. Contenu du Site</h2>
    <p>Nous nous efforçons de fournir des informations précises et à jour sur le site, mais nous ne pouvons garantir l'exactitude de toutes les informations. Nous déclinons toute responsabilité en cas de perte ou de dommage découlant de l'utilisation de notre site.</p>

    <h2>3. Protection des Données Personnelles</h2>
    <p>Nous traitons vos données personnelles conformément à notre politique de confidentialité. En utilisant le site, vous consentez à ce traitement et garantissez l'exactitude des informations fournies.</p>

    <!-- Ajoutez d'autres sections sur les CGU si nécessaire -->

    <h2>4. Modifications des Conditions Générales</h2>
    <p>Nous nous réservons le droit de modifier les présentes conditions générales à tout moment. Les modifications entrent en vigueur dès leur publication sur le site. Nous vous recommandons de consulter régulièrement cette page pour rester informé des éventuelles modifications.</p>

    <h2>5. Contact</h2>
    <p>Pour toute question ou préoccupation concernant les conditions générales, veuillez nous contacter à <a href="mailto:contact@trouvetonasso.fr">contact@trouvetonasso.fr</a>.</p>

  </section>
  </div>