<div style="text-align: center;">
  <h1>Contactez-Nous pour Soutenir les Causes qui Vous Tiennent à Cœur</h1>

  <div class="text-center">
    <p>
      Bienvenue sur <strong>Trouve Ton Asso</strong>, la plateforme dédiée aux dons pour des associations caritatives diverses. <br>
      Si vous avez des questions, des commentaires, ou si vous souhaitez en savoir plus sur la façon dont vous pouvez contribuer, n'hésitez pas à nous contacter par mail à
      <a href="mailto:contact@trouvetonasso.fr">contact@trouvetonasso.fr</a>.
    </p>
  </div>
</div>