<div style="text-align: center;">  
    <h1>Politique sur les Cookies</h1>

  <br>
  <section>
    <p>Cette politique sur les cookies explique comment Trouve Ton Asso utilise des cookies sur son site web. En continuant à utiliser ce site, vous consentez à l'utilisation de cookies conformément à cette politique.</p>
  <br>
    <h3>1. Qu'est-ce qu'un cookie ?</h3>
    <p>Un cookie est un petit fichier texte stocké sur votre ordinateur ou appareil mobile par le serveur d'un site web. Il permet au site web de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille de la police et d'autres préférences d'affichage) sur une période donnée, vous évitant ainsi de devoir les saisir à chaque visite.</p>
    <br>
    <h3>2. Comment nous utilisons les cookies</h3>
    <p>Nous utilisons des cookies pour diverses raisons, notamment pour rendre votre expérience de navigation plus agréable et pour comprendre comment nos visiteurs utilisent notre site. Les cookies que nous utilisons peuvent être de session (temporaires) ou persistants (restant sur votre appareil après la fermeture du navigateur).</p>
<br>
    <h3>3. Types de cookies que nous utilisons</h3>
    <p>Nous utilisons les types de cookies suivants :</p>
    <ul>
      <li>Cookies nécessaires : ces cookies sont essentiels pour vous permettre de naviguer sur le site et d'utiliser ses fonctionnalités.</li>
      <li>Cookies de performance : ces cookies collectent des informations sur la manière dont les visiteurs utilisent le site, par exemple, quelles pages sont les plus populaires. Ces cookies ne collectent pas d'informations permettant d'identifier un visiteur.</li>
      <li>Cookies de fonctionnalité : ces cookies permettent au site de se souvenir des choix que vous faites (comme votre nom d'utilisateur, votre langue, ou la région où vous vous trouvez) et fournissent des fonctionnalités améliorées.</li>
    </ul>

<br>
    <h3>4. Comment contrôler les cookies</h3>
    <p>Vous pouvez contrôler et/ou supprimer les cookies comme vous le souhaitez. Pour plus d'informations, consultez aboutcookies.org. Vous avez la possibilité de supprimer tous les cookies déjà stockés sur votre ordinateur et de configurer la plupart des navigateurs pour empêcher leur stockage. Cependant, cela peut entraîner une désactivation de certaines fonctionnalités du site.</p>

  </section>
  </div>