<h1>Trouve Ton Asso</h1>
<p>Chez Touve Ton Asso, nous croyons que chaque acte de générosité, quel que soit sa taille, a le pouvoir de transformer des vies. Notre plateforme est bien plus qu'un simple espace pour faire des dons ; c'est un lieu où l'empathie prend vie, où des causes inspirantes trouvent un écho, et où l'impact concret devient accessible à tous.

<%= render "shared/stripe_donate_button" %>