<div style="text-align: center;">
  <h1>Mentions Légales</h1>
  <br>
  <section>
    <h3>1. Informations Légales</h3>
    <p>Raison sociale : Trouve Ton Asso</p>
    <p>Siège social : 55 rue du Faubourg saint-Honoré, 75008 Paris</p>
    <p>Association loi 1901 enregistrée sous le numéro 123456789</p>
    <p>Directeur de la publication : Jean Dupont</p>

  
  </section>
  <br>
  <section>
    <h3>2. Hébergement du Site</h3>
    <p>
      Nom de l'hébergeur : Hosting Solutions Ltd.<br>
      Adresse de l'hébergeur : 123 Web Street, Tech City, Serverland
    </p>
  </section>
  <br>
  <section>
    <h3>3. Propriété Intellectuelle</h3>
    <p>Le contenu du site est protégé par le droit d'auteur et d'autres droits de propriété intellectuelle.</p>
    <p>Toute reproduction ou utilisation non autorisée du contenu est strictement interdite.</p>
  </section>
  <br>
  <section>
    <h3>4. Protection des Données Personnelles</h3>
    <p>Conformément à la loi sur la protection des données, nous nous engageons à protéger les données personnelles collectées sur le site.</p>
    <p>Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Pour exercer ce droit, veuillez nous contacter à <a href="mailto:contact@trouvetonasso.fr">contact@trouvetonasso.fr</a>.</p>
  </section>
  <br>
  <section>
    <h3>5. Cookies</h3>
    <p>Nous utilisons des cookies pour améliorer l'expérience de navigation des utilisateurs. En continuant à utiliser notre site, vous acceptez l'utilisation de cookies.</p>
    <p>Consultez notre politique de cookies pour en savoir plus sur l'utilisation des cookies sur notre site.</p>
  </section>
  <br>
  <section>
    <h3>6. Responsabilité</h3>
    <p>Nous nous efforçons de fournir des informations précises et à jour sur notre site, mais nous ne pouvons garantir l'exactitude de toutes les informations.</p>
    <p>Nous déclinons toute responsabilité en cas de perte ou de dommage découlant de l'utilisation de notre site.</p>
  </section>

</div>