<h2>Voici la liste de vos dons effectués</h2>

<% @user_donations.each do |donation| %>
  <p>Montant du don: <%= number_to_currency(donation.amount, unit: '€') %></p>
  <p>Date du don: <%= donation.created_at.strftime('%d/%m/%Y %H:%M:%S') %></p>
  <p>Association: <%= donation.organisation.name %></p>
  <hr>
<% end %>

<%= link_to 'Retour à la page de don', new_donation_path %>