<!-- app/views/association_profiles/show.html.erb -->
<h1>Profil de l'Association</h1>

<p><strong>Nom de l'Association:</strong> <%= @association_profile.association.name %></p>
<p><strong>Description:</strong> <%= @association_profile.description %></p>
<!-- Autres détails spécifiques à afficher -->
