<!-- app/views/associations/dashboard.html.erb -->
<% if @association %>
  <h1>Tableau de bord de <%= @association.name %></h1>

  <h2>Statistiques</h2>

  <h2>Gestion des événements</h2>

<% else %>
  <p>Association non trouvée</p>
<% end %>
