/*
 *= require main
 *= require like
 *= require alerts
 *= require bg
 *= require navbar
 *= require buttons
 *= require form
 *= require cards
 *= require footer
 *= require dyslexic
 *= require tables
 */
