.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg .dot {
    position: absolute;
}
.bg .dot:nth-of-type(1) {
    top: 20vh;
    left: -10vw;
    border-radius: 431px;
    background: #9747ff;
    filter: blur(200px);
    width: 431px;
    height: 300px;
    animation: dot-to-left 20s infinite;
}
@keyframes dot-to-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}
.bg .dot:nth-of-type(2) {
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 668px;
    background: #4ba9ff;
    filter: blur(250px);
    width: 668px;
    height: 369px;
    animation: dot-to-bottom 20s infinite;
}
@keyframes dot-to-bottom {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(30%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}
.bg .dot:nth-of-type(3) {
    top: 10vh;
    right: 0;
    border-radius: 431px;
    background: #9747ff;
    filter: blur(200px);
    width: 431px;
    height: 300px;
    animation: dot-flip 40s infinite;
}
@keyframes dot-flip {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-30%, 30%);
    }
    40% {
        transform: translate(30%, -30%);
    }
    60% {
        transform: translate(10%, -10%);
    }
    100% {
        transform: translate(0);
    }
}
@media screen and (max-width: 1050px) {
    .bg .dot {
        opacity: 0.7;
    }
}
@media screen and (max-width: 768px) {
    .bg .dot {
        opacity: 0.5;
    }
}

.gold-container {
    background-image: linear-gradient(
        to right,
        #fee85917,
        #eef47836,
        #ffc42d39,
        #caae672e,
        #ebe8281d
    );
    border-radius: var(--border-radius);
}
.purple-container {
    background-image: linear-gradient(
        to right,
        #f45df425,
        #e15fdf37,
        #e14dcb50,
        #9a28eb1d
    );
    border-radius: var(--border-radius);
}
.blue-container {
    background-image: linear-gradient(
        to right,
        #63cfef25,
        #4ba8ff1c,
        #5055e01c,
        #4ba9ff1c
    );
    border-radius: var(--border-radius);
}
