.card {
    background-color: var(--background-card-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--background-blur);
    border: 1px solid;
    border-color: var(--border-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 200px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.card-gold {
    border-color: var(--gold-color);
    background-color: var(--background-gold-color);
    color: white;
    text-shadow: 0 1px 4px #00000042;
    -webkit-text-fill-color: transparent;
    background: url("gold-texture.jpeg") repeat;
}
