/* Vos styles existants */

.rounded-image {
  border-radius: 10px;
}

.event-details {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff3a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-details > * {
  width: 100%;
  max-width: 600px; 
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.rounded-image {
  border-radius: 8px;
}

.event-header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.event-description p {
  line-height: 1.6;
}

.event-description strong {
  font-weight: bold;
}

.event-description p:not(:last-child) {
  margin-bottom: 8px;
}

.event-description p:last-child {
  margin-bottom: 16px;
}

.event-description ul {
  list-style: none;
  padding: 0;
}

.event-description li {
  margin-bottom: 10px;
}

.review-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.event .card {
  background-color: #ffffff48;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-body {
  padding: 15px;
}

.card p {
  margin: 5px 0;
}

.event-header.text-center {
  text-align: center;
}

.event-description.text-center {
  text-align: center;
}

.event-details .text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}
