.event-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
  }
  
  .event-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f743;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
   

  }
    
  .event-field {
    margin-bottom: 20px;
  }
    
  .event-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
    
  input[type="text"],
  input[type="number"],
  input[type="datetime-local"],
  .event-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
    
  .event-textarea {
    height: 120px;
  }
    
  input[type="file"] {
    margin-top: 5px;
  }


  
  