.form-container > h1 {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
}
.form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.form select,
.form textarea {
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--background-card-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--background-blur);
    margin-top: 0.5rem;
    color: var(--primary-color);
}
.form
    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
.form select:focus,
.form textarea:focus {
    outline-color: var(--primary-color);
}
.form label {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.form input[type="submit"] {
    margin-top: 0.5rem;
}

.form input:disabled,
.form select:disabled,
.form textarea:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}
.form-group > div {
    flex: 1 200px;
}

/* Form two sides */

.form-side {
    display: flex;
    gap: 2rem;
    background-color: var(--background-card-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--background-blur);
    border: 1px solid;
    border-color: var(--border-color);
    padding: 1rem;
}
.form-side h1 {
    text-align: center;
}
.form-side > div {
    flex-shrink: 1;
    width: 50%;
}
.form-side .left-side,
.form-side .right-side {
    background: center/cover no-repeat;
}
.form-side .left-side {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.form-side .right-side {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
@media screen and (max-width: 768px) {
    .no-display-md {
        display: none;
    }
    .form-side > div {
        width: 100%;
    }
}

.form .avatar-preview {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
