@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-dyslexic");

:root {
    --primary-color: #55377c;
    --link-color: #6b5dc5;
    --border-radius: 1rem;
    --success-color-rgb: 76, 190, 101;
    --success-text-color: #70b67b;
    --error-color-rgb: 227, 53, 53;
    --error-text-color: #c68686;
    --box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
    --background-blur: blur(4px);
    --border-color: rgba(255, 255, 255, 0.3);
    --background-card-color: rgba(255, 255, 255, 0.1);
}

body {
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    font-weight: 500;
    color: var(--link-color);
}

b {
    font-weight: 500;
}

.subtitle {
    font-weight: 100;
}

.container {
    max-width: 1400px;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left: 2%;
        padding-right: 2%;
    }
}
