<h1>Vos associations likées</h1>

<div class="card-container">
    <% @organisations.each do |orga| %>
        <div class="card">
            <%= button_to unlike_asso_path(orga), method: :post, class: 'like-btn active', form: {class: 'like-btn-container'} do %>
                <ion-icon name="heart">
                <div class='red-bg'></div>
                </ion-icon>
            <% end %>
            <h2><%= orga.name %></h2>
            <p><%= orga.description %></p>
        </div>
    <% end %>
</div>